@import "tailwindcss";
@config "../../tailwind.config.mjs"; /* or .ts or .mjs depending on your setup */
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLOR */
/* #fdf0d5 967A54*/
.bg-home {
  background-color: #524D47;
}

.bg-section {
  background-color: #080807;
}

.text-home {
  color: #bebebe;
}

.bg-bar {
  background-color: #866a44;
}

.text-symbol {
  color: #bebebe;
}

.bg-line{
  border-top: 1px solid #524D47;
}

.bg-button{
  background-color: #524D47;
}

.bg-button-hover{
  background-color: white;
}

.bg-border {
  border: 1px solid #524D47;
}


#noise-overlay {
  pointer-events: none; /* Prevents interaction issues */
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 750px;
  opacity: 0.12; /* Adjust noise intensity */
  position: fixed; /* Covers the whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50; /* Ensures noise is on top */
  pointer-events: none; /* Ensures elements are clickable */
}

.gpu-stable {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform, opacity;
  contain: layout paint style;
}



/* bg-gradient-to-r from-[#A39173] to-[#B38C66] */

html {
  scroll-behavior: smooth;
}

/* Home Page CSS */



