@import "tailwindcss";
@config "../../tailwind.config.mjs";
/* or .ts or .mjs depending on your setup */
@tailwind utilities;

:root {
  /* Palette */
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #524D47;    /* primary / borders */
  --color-secondary: #080807;    /* section background */
  --color-border: #524D47;    /* primary / borders */

  --color-text-home: #ffffff;      /* muted text */
  --color-text-section: #bebebe;      /* muted text */

  --color-symbol: #bebebe;      /* muted text */
  --color-bar: #866a44;     /* accents */

  --color-line: #524D47;     /* accents */
  --color-line-2: #524D47;     /* accents */

  --project-button-hover: #868674; /* button hover */
  --project-button-hover-rgb: 134 134 116;
  --project-button-hover-2: #bcbcb8; /* button hover */
  --project-button-hover-2-rgb: 188 188 184;

  --contact-button: #866a44; 
  --contact-button-hover: #524D47; /* button hover */
  --contact-button-hover-rgb: 82 77 71;


  --footer-text-hover: #967A54;   /* hover / highlight */
  --color-white: #ffffff;

  /* Typography / sizes */
  /* --display-xs: 60px;
  --display-sm: 80px;
  --display-md: 100px;
  --display-lg: 120px;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 25px; */

  /* Effects */
  --noise-opacity: 0.12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .sm\:color-border {
    border-top: 1px solid var(--color-border);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--background);
  color: var(--foreground); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLOR */
/* #fdf0d5 967A54*/
.bg-home{
  background-color: var(--color-primary);
}

.bg-section {
  background-color: var(--color-secondary);
}

.bg-bar {
  background-color: var(--color-bar);
}

.text-color-section {
  color: var(--color-text-section);
}

.symbol-color {
  color: var(--color-symbol);
}

.color-line {
  border-top: 1px solid var(--color-primary);
}

.color-line-2 {
  background-color: var(--color-primary);
}

.project-button-hover {
  background-color: rgb(var(--project-button-hover-rgb) / 0.7);
}

.project-button-hover-2 {
  background-color: rgb(var(--project-button-hover-2-rgb) / 0.5);
}

.contact-button {
  background-color: var(--contact-button);
}

.contact-button-hover{
  background-color: var(--contact-button-hover);
}

.footer-text-hover {
  color: var(--footer-text-hover);
}

.bg-border {
  border: 1px solid var(--color-border);
}


#noise-overlay {
  pointer-events: none;
  /* Prevents interaction issues */
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 750px;
  opacity: 0.12;
  /* Adjust noise intensity */
  position: fixed;
  /* Covers the whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  /* Ensures noise is on top */
  pointer-events: none;
  /* Ensures elements are clickable */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


/* Home Page CSS */
@keyframes scrollLinesUp {
  0% {
    background-position-y: 100%;
  }

  100% {
    background-position-y: 0%;
  }
}

.bg-striped-lines {
  background: linear-gradient(#fbf6c0, #fbf6c0 3px, transparent 0, transparent 9px);
  background-size: 100% 7px; 
  animation: scrollLinesUp 20s linear infinite;
}


